body
  background: white
  font-family: google-fonts

a
  color: main-color
  text-decoration: none

.banner
  background: main-color
  padding: 3rem 0 1rem

.container
  max-width: 45em
  padding: 0 spacing-unit
  margin: 0 auto

.card
  background: #fff
  margin-bottom: spacing-unit

.item
    padding: (spacing-unit/2) spacing-unit
    font-size: regular-text

.flexrow
  flexbox(row, wrap)

.flex-align
  flex-align()

.flex-justify
  flex-justify()

.todo-item-container
  animate()
  padding: spacing-unit
  make-border(1px, light-grey, dotted, bottom)
.completed
  label
    animate()
    opacity: .4
    text-decoration: line-through
.input
  animate()
  outline: 0
  padding: (spacing-unit / 2)
  border: 0
  make-border(3px, main-color, dotted, bottom)
  :focus
    outline: 0
