//colors
main-color = #f9653f
white = #F5F5F5
light-grey = #cccccc

//layout
spacing-unit = 1.5rem

//type

google-fonts = 'Arimo', sans-serif

big-header = 2.8rem
sub-header = 2.4rem
regular-text = 1.125rem
